html{
    background-color:pink;
}
body{
    background-color:red;
    height:800px;
    width:800px;
} 
.row{
    height:100px;
    width:800px;
}
.black{
    height:100px;
    width:100px;
    background-color:black;
    float:left;
}
.white{
    height:100px;
    width:100px;
    background-color:white;
    float:left;
}